﻿@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


html, body {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik', sans-serif;
}

h1, h2 {
  padding: 0px;
  margin: 0px;
}

h1 { font-size: 4rem }

h2 { font-size: 3rem }

h3 { font-size: 2rem }

a {
  color: black;
  background-color: white;
  padding: 0px 3px;
}

/* previene que el scrollbar aparezca cuando las ondas se expanden */
.sonar-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 2rem 0;
}

/* Circulo */
.sonar-emitter {
  position: relative;
  margin: 0 auto;
  width: 275px;
  height: 275px;
  border-radius: 9999px;
  cursor: pointer;
  background-color: red;
}

/* la 'onda', misma forma y tamaño que su padre */
.sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: red;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.sonar-wave {
  animation: sonarWave 2s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(1.3);
    opacity: 0;
  }
}